#gallery {

  ul {
    list-style-type: none;
    li {
      display: inline-block;
      position: relative;
      overflow: hidden;
      .mosaicItem {
        width: 380px;
        height: 400px;

        & > a {
          .text {
            position: absolute;
            bottom: -50px;
            left: 0;
            width: 100%;
            height: 50px;
            background: rgba(0,0,0,0.8);
            color: white;
            text-align: center;
            font-weight: 600;
            line-height: 50px;
            transition: all .5s ease-in-out;
            opacity: 0;
          }

          &:hover .text{
            bottom: 0;
            opacity: 1;
          }
        }
      }

      .popin {
        display: flex;
        text-align: center;
        position: fixed;
        top: -100%;
        transition: all ease .5s;
        opacity: 0;
        width: 100%;
        height: 100%;
        left: 0;
        justify-content: center;
        align-items: center;
        z-index: 999;
        &:target {
          top: 0;
          opacity: 1;

          .imgBox {
            position: relative;
            z-index: 998;

            &:before {
                content: '✖';
                position: absolute;
                right: 10px;
                top: 10px;
                color: white;
                z-index: 999;
            }

            img {
              border: 3px solid white;
            }
          }
        }

        .overlay {
          position: absolute;
          top: 0;
          left: 0;
          background: rgba(0,0,0,0.7);
          width: 100%;
          height: 100%;
          z-index: 899;
        }
      }
    }
  }
}
@media #{$medium-and-down} {
  #gallery ul li {
    width: calc(50% - 6px) !important;

    .mosaicItem{
     width: calc(50% - 6px) !important;
    }
  }
}
@media #{$small-and-down} {
  #gallery ul li {
    width: 100% !important;
    .mosaicItem{
      width: 100% !important;
    }
    .popin{
      .imgBox{
        width: 100%;
        img{
          width: 99%;
        }
      }
    }
  }
}
