nav {
  &.nav-extended {
    height: auto;

    .nav-wrapper {
      min-height: $navbar-height-mobile;
      height: auto;
    }

    .nav-content {
      position: relative;
      line-height: normal;
    }
  }

  color: $navbar-font-color;
  background-color: $primary-color-nav;
  width: 100%;
  height: $navbar-height-mobile;
  line-height: $navbar-line-height-mobile;
  position: absolute;
  z-index: 996;

  a { color: $navbar-font-color; }

  i,
  [class^="mdi-"], [class*="mdi-"],
  i.material-icons {
    display: block;
    font-size: 24px;
    height: $navbar-height-mobile;
    line-height: $navbar-line-height-mobile;
  }

  .nav-wrapper {
    position: relative;
    height: 100%;
  }

  @media #{$large-and-up} {
    a.sidenav-trigger { display: none; }
  }


  // Collapse button
  .sidenav-trigger {
    float: left;
    position: relative;
    z-index: 1;
    height: $navbar-height-mobile;
    margin: 0 18px;

    i {
      height: $navbar-height-mobile;
      line-height: $navbar-line-height-mobile;
    }
  }


  // Logo
  .brand-logo {
    position: absolute;
    padding: 40px 0px;
    width: 200px;
    height: 54px;
    background-image: url("/img/logo-productos-moises.png");
    background-repeat: no-repeat;
    background-position-y: center;
    text-indent: -9999px;

    &.center {
      left: 50%;
      transform: translateX(-50%);
    }
    @media #{$small-and-down}{
      padding: 28px 0px !important;
    }
    @media #{$medium-and-down} {
      left: 50%;
      transform: translateX(-50%);

      &.left, &.right {
        padding: 0;
        transform: none;
      }

      &.left { left: 0.5rem; }
      &.right {
        right: 0.5rem;
        left: auto;
      }
    }

    &.right {
      right: 0.5rem;
      padding: 0;
    }

    i,
    [class^="mdi-"], [class*="mdi-"],
    i.material-icons {
      float: left;
      margin-right: 15px;
    }
  }


  // Title
  .nav-title {
    display: inline-block;
    font-size: 32px;
    padding: 28px 0;
  }


  // Navbar Links
  ul {
    margin: 0;

    li {
      transition: background-color .3s;
      float: left;
      padding: 0;

      &.active {
        background-color: rgba(0,0,0,.1);
      }
    }
    a {
      transition: background-color .3s;
      font-size: $navbar-font-size;
      font-weight: bold;
      color: $navbar-font-color;
      transition: color .2s ease-in;
      display: block;
      padding: 0 15px;
      cursor: pointer;

      &.btn, &.btn-large, &.btn-flat, &.btn-floating {
        margin-top: -2px;
        margin-left: 15px;
        margin-right: 15px;

        & > .material-icons {
          height: inherit;
          line-height: inherit;
        }
      }

      &:hover {
        color: $primary-color-fundation;
      }
    }

    &.left {
      float: left;
    }
  }

  // Navbar Search Form
  form {
    height: 100%;
  }

  .input-field {
    margin: 0;
    height: 100%;

    input {
      height: 100%;
      font-size: 1.2rem;
      border: none;
      padding-left: 2rem;

      &:focus, &[type=text]:valid, &[type=password]:valid,
      &[type=email]:valid, &[type=url]:valid, &[type=date]:valid {
        border: none;
        box-shadow: none;
      }
    }

    label {
      top: 0;
      left: 0;

      i {
        color: rgba(255,255,255,.7);
        transition: color .3s;
      }
      &.active i { color: $navbar-font-color; }
    }
  }
}

#nav {
  color: $primary-color-dark-title;
  background-color: white;
  position: relative;

  a { color: $primary-color-dark-title;
    &:hover{
      color: $primary-color-fundation;
    }
  }
}

#nav-admin{
  color: white;
  background: -moz-linear-gradient(left, rgba(49,53,50,1) 0%, rgba(67,107,125,1) 31%, rgba(84,156,192,1) 59%, rgba(108,171,203,1) 100%);
  background: -webkit-linear-gradient(left, rgba(49,53,50,1) 0%, rgba(67,107,125,1) 31%, rgba(84,156,192,1) 59%, rgba(108,171,203,1) 100%);
  position: relative;
  width: calc(100% - 300px);
  left: 300px;
  height: 60px;
  line-height: 60px;

  a { color: white;
    &:hover{
      color: $primary-color-fundation;
    }
  }
}
.title-navbar-admin{
  font-size: 18px;
  font-weight: bold;
  margin: 12px;
}

// Fixed Navbar
.navbar-fixed {
  position: relative;
  height: $navbar-height-mobile;
  z-index: 997;

  nav {
    position: fixed;
  }
}
@media #{$medium-and-up} {
  nav.nav-extended .nav-wrapper {
    min-height: $navbar-height;
  }
  nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
    height: $navbar-height;
    line-height: $navbar-line-height;
  }
  .navbar-fixed {
    height: $navbar-height;
  }
}
@media #{$small-and-down} {
  #nav-admin{
    width: calc(100% - 0px);
    left: 0px;
  }
  .title-navbar-admin{
    font-size: 16px;
  }
}
