.parallax-container {
  height: 350px;
}
.title-center-parallax{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
}
.title-parallax-view{
  font-weight: bold;
  letter-spacing: 10px;
}
.title-parallax-blog{
  font-weight: 500;
  letter-spacing: 8px;
  font-size: 2.00rem;
}
